<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AB - Fitness App</title>

    <link rel="stylesheet" href="/styles/workout.css">

    <%- include('../partials/includes.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <div class="container">
        <div class="title">
            <h1>AB workout</h1>
        </div>

        <div class="workout">
            <div class="name">
                <h2>A - chest</h2>
            </div>

            <div class="excersize">
                <h2><%= excersizes.chest[0].name %></h2>

                <div class="video">
                    <img id="left-arrow" src="/img/arrow_left.png" alt="">
                    <div class="view">
                        <iframe src="https://www.youtube.com/embed/fnDM2jJ2yeI" width="600" height="315" frameborder="0"></iframe>
                    </div>

                    <img id="right-arrow" src="/img/arrow_right.png" alt="">
                </div>
                
                <ul class="info">
                    <li><%= excersizes.chest[0].sets %> sets</li>
                    <li><%= excersizes.chest[0].kg %> kg</li>
                    <li><%= excersizes.chest[0].reps %> reps</li>
                </ul>
            </div>

            <form id="done" action="/workouts/done" method="POST" style="display: none;">
                <button type="submit">A סיים אימון</button>
            </form>

            <form id="feedback" style="display: none;">
                <h2>דרג את קושי האימון</h2>
                
                <div class="diffBtns">
                    <div>
                        <input type="radio" name="diff" value="2">
                        <label for="">קל מדי</label>
                    </div>

                    <div>
                        <input type="radio" name="diff" value="0">
                        <label for="">מעולה</label>
                    </div>

                    <div>
                        <input type="radio" name="diff" value="-2">
                        <label for="">קשה מדי</label>
                    </div>
                </div>

                <input type="text" id="reviewInpt" placeholder="Leave a comment...">
                <br>
                <button type="submit" id="returnBtn">return</button>
            </form>
        </div>
    </div>

    <script>
        var excersizes = JSON.parse('<%- JSON.stringify(excersizes) %>');
        var index = JSON.parse('<%- JSON.stringify(index) %>');
    </script>
</body>
</html>