<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerobic + AB - Fitness App</title>

    <link rel="stylesheet" href="/styles/workout.css">

    <%- include('../partials/includes.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <div class="container">
        <div class="title">
            <h1>AB + Aerobic workout</h1>
        </div>

        <div class="workout">
            <div class="name">
                <h2><%= firstExcersize.day %> - <%= Object.keys(excersizes)[index] %></h2>
            </div>

            <div class="excersize">
                <h2><%= excersizes[Object.keys(excersizes)[index]][0].name %></h2>

                <div class="video">
                    <img id="left-arrow" src="/img/arrow_left.png" alt="">
                    <div class="view">
                        <iframe src="<%= firstExcersize.url %>" width="600" height="315" frameborder="0"></iframe>
                    </div>

                    <img id="right-arrow" src="/img/arrow_right.png" alt="">
                </div>
                
                <ul class="info">
                    <li><%= firstExcersize.sets %> sets</li>
                    <li><%= firstExcersize.kg %> kg</li>
                    <li><%= firstExcersize.reps %> reps</li>
                </ul>
            </div>

            <form id="done" action="/workouts/done" method="POST" style="display: none;">
                <button type="submit">סיים אימון אירובי</button>
            </form>

            <form id="feedback" action="/workouts" method="POST" style="display: none">
                <h2>דרג את קושי האימון</h2>
            
                <button type="submit" name="-2">קשה מדי</button>
                <button type="submit" name="0">מעולה</button>
                <button type="submit" name="2">קל מידי</button>
            </form>
        </div>
    </div>

    <script>
        var excersizes = JSON.parse('<%- JSON.stringify(excersizes) %>');
        var index = JSON.parse('<%- JSON.stringify(index) %>');
    </script>
</body>
</html>