<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC - Fitness App</title>

    <style>
        * {
            text-align: right;
        }
    </style>
</head>
<body>
    <h1>ABC אימון</h1>
    <br>
    <h1>A:</h1>
    
    <div class="chest">
        <h1>חזה</h1>

        <div class="1">
            <h2><%= excersizes.chest[0].name %></h2>
            <h3>סטים: <%= excersizes.chest[0].sets %></h3>
            <h3>חזרות: <%= excersizes.chest[0].reps %></h3>
            <h3>משקל: <%= excersizes.chest[0].kg %></h3>
        </div>

        <div class="2">
            <h2><%= excersizes.chest[1].name %></h2>
            <h3>סטים: <%= excersizes.chest[1].sets %></h3>
            <h3>חזרות: <%= excersizes.chest[1].reps %></h3>
            <h3>משקל: <%= excersizes.chest[1].kg %></h3>
        </div>

        <div class="3">
            <h2><%= excersizes.chest[2].name %></h2>
            <h3>סטים: <%= excersizes.chest[2].sets %></h3>
            <h3>חזרות: <%= excersizes.chest[2].reps %></h3>
            <h3>משקל: <%= excersizes.chest[2].kg %></h3>
        </div>
    </div>

    <div class="triceps">
        <h1>יד אחורית</h1>

        <div class="1">
            <h2><%= excersizes.triceps[0].name %></h2>
            <h3>סטים: <%= excersizes.triceps[0].sets %></h3>
            <h3>חזרות: <%= excersizes.triceps[0].reps %></h3>
            <h3>משקל: <%= excersizes.triceps[0].kg %></h3>
        </div>
        
        <div class="2">
            <h2><%= excersizes.triceps[1].name %></h2>
            <h3>סטים: <%= excersizes.triceps[1].sets %></h3>
            <h3>חזרות: <%= excersizes.triceps[1].reps %></h3>
            <h3>משקל: <%= excersizes.triceps[1].kg %></h3>
        </div>

        <div class="3">
            <h2><%= excersizes.triceps[2].name %></h2>
            <h3>סטים: <%= excersizes.triceps[2].sets %></h3>
            <h3>חזרות: <%= excersizes.triceps[2].reps %></h3>
        </div>
    </div>

    <div class="abs">
        <h1>בטן</h1>

        <div class="1">
            <h2><%= excersizes.abs[0].name %></h2>
            <h3>סטים: <%= excersizes.abs[0].sets %></h3>
            <h3>חזרות: <%= excersizes.abs[0].reps %></h3>
        </div>
        
        <div class="2">
            <h2><%= excersizes.abs[1].name %></h2>
            <h3>סטים: <%= excersizes.abs[1].sets %></h3>
            <h3>חזרות: <%= excersizes.abs[1].reps %></h3>
        </div>

        <div class="3">
            <h2><%= excersizes.abs[2].name %></h2>
            <h3>סטים: <%= excersizes.abs[2].sets %></h3>
            <h3>משך זמן: <%= excersizes.abs[2].duration %></h3>
        </div>
    </div>

    <br>
    <h1>B:</h1>

    <div class="back">
        <h1>גב</h1>

        <div class="1">
            <h2><%= excersizes.back[0].name %></h2>
            <h3>סטים: <%= excersizes.back[0].sets %></h3>
            <h3>חזרות: <%= excersizes.back[0].reps %></h3>
            <h3>משקל: <%= excersizes.back[0].kg %></h3>
        </div>
        
        <div class="2">
            <h2><%= excersizes.back[1].name %></h2>
            <h3>סטים: <%= excersizes.back[1].sets %></h3>
            <h3>חזרות: <%= excersizes.back[1].reps %></h3>
            <h3>משקל: <%= excersizes.back[1].kg %></h3>
        </div>

        <div class="3">
            <h2><%= excersizes.back[1].name %></h2>
            <h3>סטים: <%= excersizes.back[1].sets %></h3>
            <h3>חזרות: <%= excersizes.back[1].reps %></h3>
            <h3>משקל: <%= excersizes.back[1].kg %></h3>
        </div>

        <div class="4">
            <h2><%= excersizes.back[3].name %></h2>
            <h3>סטים: <%= excersizes.back[3].sets %></h3>
            <h3>חזרות: <%= excersizes.back[3].reps %></h3>
        </div>
    </div>

    <div class="biceps">
        <h1>יד קדמית</h1>

        <div class="1">
            <h2><%= excersizes.biceps[0].name %></h2>
            <h3>סטים: <%= excersizes.biceps[0].sets %></h3>
            <h3>חזרות: <%= excersizes.biceps[0].reps %></h3>
            <h3>משקל: <%= excersizes.biceps[0].kg %></h3>
        </div>
        
        <div class="2">
            <h2><%= excersizes.biceps[1].name %></h2>
            <h3>סטים: <%= excersizes.biceps[1].sets %></h3>
            <h3>חזרות: <%= excersizes.biceps[1].reps %></h3>
            <h3>משקל: <%= excersizes.biceps[1].kg %></h3>
        </div>
    </div>

    <div class="lowerBack">
        <h1>גב תחתון</h1>
        
        <div class="1">
            <h2><%= excersizes.lowerBack[0].name %></h2>
            <h3>סטים: <%= excersizes.lowerBack[0].sets %></h3>
            <h3>חזרות: <%= excersizes.lowerBack[0].reps %></h3>
        </div>
    </div>

    <br>
    <h1>C:</h1>

    <div class="legs">
        <h1>רגליים</h1>

        <div class="1">
            <h2><%= excersizes.legs[0].name %></h2>
            <h3>סטים: <%= excersizes.legs[0].sets %></h3>
            <h3><%= excersizes.legs[0].reps %></h3>
            <h3>משקל: <%= excersizes.legs[0].kg %></h3>
        </div>
        
        <div class="2">
            <h2><%= excersizes.legs[1].name %></h2>
            <h3>סטים: <%= excersizes.legs[1].sets %></h3>
            <h3>חזרות: <%= excersizes.legs[1].reps %></h3>
            <h3>משקל: <%= excersizes.legs[1].kg %></h3>
        </div>

        <div class="3">
            <h2><%= excersizes.legs[2].name %></h2>
            <h3>סטים: <%= excersizes.legs[2].sets %></h3>
            <h3>חזרות: <%= excersizes.legs[2].reps %></h3>
            <h3>משקל: <%= excersizes.legs[2].kg %></h3>
        </div>
    </div>

    <div class="shoulders">
        <h1>כתפיים</h1>

        <div class="1">
            <h2><%= excersizes.shoulders[0].name %></h2>
            <h3>סטים: <%= excersizes.shoulders[0].sets %></h3>
            <h3>חזרות: <%= excersizes.shoulders[0].reps %></h3>
            <h3>משקל: <%= excersizes.shoulders[0].kg %></h3>
        </div>
        
        <div class="2">
            <h2><%= excersizes.shoulders[1].name %></h2>
            <h3>סטים: <%= excersizes.shoulders[1].sets %></h3>
            <h3>חזרות: <%= excersizes.shoulders[1].reps %></h3>
            <h3>משקל: <%= excersizes.shoulders[1].kg %></h3>
        </div>

        <div class="3">
            <h2><%= excersizes.shoulders[2].name %></h2>
            <h3>סטים: <%= excersizes.shoulders[2].sets %></h3>
            <h3>חזרות: <%= excersizes.shoulders[2].reps %></h3>
            <h3>משקל: <%= excersizes.shoulders[2].kg %></h3>
        </div>
    </div>

    <form action="/workouts" method="POST">
        <h2>דרג את קושי האימון</h2>
    
        <button type="submit" name="-2">קשה מדי</button>
        <button type="submit" name="0">מעולה</button>
        <button type="submit" name="2">קל מידי</button>
    </form>
</body>
</html>