<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Fitness App</title>

    <link rel="stylesheet" href="/styles/profile.css">

    <%- include('partials/includes.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="profile">
        <div class="profile-card">
            <img src="/img/guest.png" alt="" />
            
            <div class="section-container">
                <div class="section">
                    <div class="field">
                        <h4>username:</h4>
                    </div>
        
                    <div class="field">
                        <input type="text" value="<%= user.username %>" id="valid" disabled />
                    </div>
                </div>
        
                <div class="section">
                    <div class="field">
                        <h4>height (cm):</h4>
                    </div>
        
                    <div class="field">
                        <input type="number" value="<%= user.height %>" id="valid" disabled />
                    </div>
                </div>
        
                <div class="section">
                    <div class="field">
                        <h4>weight (kg):</h4>
                    </div>
        
                    <div class="field">
                        <input type="number" value="<%= user.weight %>" id="valid" disabled />
                    </div>
                </div>
        
                <div class="section">
                    <div class="field">
                        <h4>BMI:</h4>
                    </div>
        
                    <div class="field">
                        <input type="number" value="<%= user.BMI %>" id="valid" disabled />
                    </div>
                </div>
        
                <div class="section">
                    <div class="field">
                        <h4>current workout:</h4>
                    </div>
        
                    <div class="field">
                        <input type="text" value="<%= user.currentWorkout %>" id="valid" disabled />
                    </div>
                </div>
        
                <div class="section" id="button-section">
                    <div class="field">
                        <button onclick="window.location.href = '/workouts/<%= user.currentWorkout %>'">workout</button>
                    </div>
        
                    <div class="field">
                        <button onclick="window.location.href = '/profile/nutrition'">nutrition menu</button>
                    </div>
                </div>
            </div>
            
            <a href="/">back</a>
        </div>

    </div>
</body>
</html>